.h-6 {
  height: 4rem !important;
}
.header-brand-img {
  height: 3rem;
}
.leading-none {
  line-height: 1 !important;
  padding-top: 0.5rem !important;
}

.margin-left-auto {
  margin-left: auto !important;
}
.ant-table {
  font-size: smaller !important;
}

@media (min-width: 768px) {
  .page-content {
    margin: 1.5rem 0;
    min-height: 65vh;
  }
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.steps-action {
  margin-top: 24px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #1890ff;
}

.nav-tabs .nav-link.active {
  border-color: #1890ff;
  color: #1890ff;
  background: transparent;
}

.nav-tabs:hover .nav-link.active:focus {
  background-color: #40a9ff;
  border-color: #40a9ff;
  color: white;
}

a {
  color: #1890ff;
}

.btn-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 20px;
}
.notes-month section {
  font-size: 20px;
}

.time-list-alt {
  display: none;
}
@media (max-width: 1000px) {
  .time-list-alt {
    display: block;
  }
  .time-list {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .ant-list-item-action {
    margin-left: 12px;
  }
  .ant-list-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
