.h-6 {
  height: 4rem !important;
}
.header-brand-img {
  height: 3rem;
}
.leading-none {
  line-height: 1 !important;
  padding-top: 0.5rem !important;
}

.margin-left-auto {
  margin-left: auto !important;
}
.ant-table {
  font-size: smaller !important;
}

@media (min-width: 768px) {
  .page-content {
    margin: 1.5rem 0;
    min-height: 65vh;
  }
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

}

.steps-action {
  margin-top: 24px;
}
